:root{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(58, 82, 161);
}

button {
    width: 2rem;
    height: 2rem;
}

#container {
    border: 2px solid orange;
}

#page-title {
    text-align: center;
}

#nav-top-text {
    text-align: center;
}

#nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-select {
    margin: 0px;
    padding: 0px;
}

/* .project-btn-wrapper {
    display: flex;
} */

#input-wrapper {
    display: flex;
    flex-direction: column;
}

#edit-container {
    background-color: salmon;
}

.project-content {
    height: fit-content;
    background-color: blue;
}

#card-creator-container {
    height: fit-content;
    width: 5rem;
    background-color: bisque;
}

.card-body {
    height: fit-content;
    background-color: lightblue;
    border: 1px solid purple;
}

.item {
    display: flex;
}